In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('C:\code\Agriculture project\data.csv')
df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [4]:
# df['label'].value_counts
df.groupby('label').mean()

,N,P,K,temperature,humidity,ph,rainfall
label,,,,,,,
apple,20.80,134.22,199.89,22.630942,92.333383,5.929663,112.654779
banana,100.23,82.01,50.05,27.376798,80.358123,5.983893,104.626980
blackgram,40.02,67.47,19.24,29.973340,65.118426,7.133952,67.884151
chickpea,40.09,67.79,79.92,18.872847,16.860439,7.336957,80.058977
coconut,21.98,16.93,30.59,27.409892,94.844272,5.976562,175.686646
coffee,101.20,28.74,29.94,25.540477,58.869846,6.790308,158.066295
cotton,117.77,46.24,19.56,23.988958,79.843474,6.912675,80.398043
grapes,23.18,132.53,200.11,23.849575,81.875228,6.025937,69.611829
jute,78.40,46.86,39.99,24.958376,79.639864,6.732778,174.792798
kidneybeans,20.75,67.54,20.05,20.115085,21.605357,5.749411,105.919778
lentil,18.77,68.36,19.41,24.509052,64.804785,6.927932,45.680454
maize,77.76,48.44,19.79,22.389204,65.092249,6.245190,84.766988
mango,20.07,27.18,29.92,31.208770,50.156573,5.766373,94.704515
mothbeans,21.44,48.01,20.23,28.194920,53.160418,6.831174,51.198487
mungbean,20.99,47.28,19.87,28.525775,85.499975,6.723957,48.403601
muskmelon,100.32,17.72,50.08,28.663066,92.342802,6.358805,24.689952
orange,19.58,16.55,10.01,22.765725,92.170209,7.016957,110.474969
papaya,49.88,59.05,50.04,33.723859,92.403388,6.741442,142.627839
pigeonpeas,20.73,67.73,20.29,27.741762,48.061633,5.794175,149.457564
pomegranate,18.87,18.75,40.21,21.837842,90.125504,6.429172,107.528442
rice,79.89,47.58,39.87,23.689332,82.272822,6.425471,236.181114
watermelon,99.42,17.00,50.22,25.591767,85.160375,6.495778,50.786219

In [5]:
df.min()

N                      0
P                      5
K                      5
temperature     8.825675
humidity        14.25804
ph              3.504752
rainfall       20.211267
label              apple
dtype: object

In [6]:
df.max()

N                     140
P                     145
K                     205
temperature     43.675493
humidity        99.981876
ph               9.935091
rainfall       298.560117
label          watermelon
dtype: object